#guid-container{
  height: 500px;
  overflow-y: auto;
  background: #333;
  font-family: 'Cascadia Code', monospace;
  color: #eee;
  list-style: none;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 10px;
}

#amount-of-guids-input {
  width: 75px;
  text-align: center;
}

#copy-input {
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  position: absolute;
  color: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0);
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}


footer {
  background-color: #eee;
}

footer a {
  text-decoration: underline;
}

footer img {
  float: left;
  margin-right: 5px;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}